[submodule "oceanic-next-iterm"]
	path = oceanic-next-iterm
	url = https://github.com/mhartington/oceanic-next-iterm
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
